body{
    background: none;
}
.clear{
    clear: both;
}
.content .column-center{
    margin-right: 0;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background-color: #28b779;
    border-color: #28b779;
}

.list-group-item.padding{
    padding-left: 30px;
}

/*Переопределение классов селекта*/
.select2-results .result img{
    margin-right: 10px;
}
.select2-results .result .header{
    font-size: 12px;
}
.select2-results .result td p{
    margin-bottom: 4px;
    color: #000;
    font-size: 10px;
}
.select2-results .select2-highlighted .result td p{
    color: #fff;
}

div.required label:after{
    content: ' *';
    color: red;
}

.product-form{
    padding: 15px;
}

.product-form .tab-pane{
    padding-top: 15px;
}

/*uploader*/
#upload ul li{
    margin: 2px;
    height: 150px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
}
#upload ul li a{
    display: block;
}

#upload ul li img{
    border: 2px solid #ececec;
    padding: 5px;
    cursor: pointer;

}

#upload ul li img.active{
    border: 2px solid #389dc1;
}

#upload ul{
    margin: 0;
    padding: 0;
}

#drop{
    min-height: 300px;
    background-color: #fff;
    padding: 15px;
    border: 2px dashed #ececec;
}

#drop input{
    display:none;
}