body{
    background:url(/images/body-bg.gif) left top repeat;
    min-width: 1100px;
    font: 13px/20px 'Open Sans';
    line-height: 24px;
    font-weight: 300;
    color: #000;
}
a:hover, a:focus{
    text-decoration: none;
}
label{
    display: inline-table;
}
.clear{clear: both}
.left{
    float: left;
}

.right{
    float: right;
}

ul li{
    list-style: none;
}

.indent-bottom {
    margin-bottom: 15px;
}

.head{
    margin: 35px 0;
}
.head>div{
    padding-left: 0;
}

.menu {
    position: relative;
    background-color: #4873d7;
    background-image: -moz-linear-gradient(top, #5283e8, #385cbd);
    background-image: -ms-linear-gradient(top, #5283e8, #385cbd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5283e8), to(#385cbd));
    background-image: -webkit-linear-gradient(top, #5283e8, #385cbd);
    background-image: -o-linear-gradient(top, #5283e8, #385cbd);
    background-image: linear-gradient(top, #5283e8, #385cbd);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5283e8', endColorstr='#385cbd', GradientType=0);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    height: 33px;
}

.menu ul>li:hover, .menu ul>li>.hover, .menu ul>li.active {
    text-decoration: none;
    background-color: #84aff9;
    background-image: -moz-linear-gradient(top, #a0c5fd, #598ef3);
    background-image: -ms-linear-gradient(top, #a0c5fd, #598ef3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0c5fd), to(#598ef3));
    background-image: -webkit-linear-gradient(top, #a0c5fd, #598ef3);
    background-image: -o-linear-gradient(top, #a0c5fd, #598ef3);
    background-image: linear-gradient(top, #a0c5fd, #598ef3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0c5fd', endColorstr='#598ef3', GradientType=0);
}
.menu ul{
    padding: 0;
    margin: 0;
}
.menu ul li{
    list-style:none; margin:0;
    float: left;
}
.menu ul li a{
    /*font-size: 15px;*/
    line-height: 33px;
    display: block;
    color: #fff;
    padding: 0 20px;

}

.menu ul.left li:first-child{
     -webkit-border-radius: 0 0 0 5px;
        -moz-border-radius: 0 0 0 5px;
             border-radius: 0 0 0 5px;
}

.menu ul.right li:last-child{
    -webkit-border-radius: 0 0 5px 0px;
    -moz-border-radius: 0 0 5px 0px;
    border-radius: 0 0 5px 0px;
}

.login{
    margin-top: 5px;
}
.registration{
    margin: 10px 0 0 140px;
    display: inline-block;
}

.banner-top{
    background-color: #447ac2;
}

.list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.content .column-left{
    float: left; width: 220px
}
.content .column-right{
    float: right; width: 180px
}
.content .column-center{
    overflow: hidden;
    position: relative;
    margin: 0 195px 0 235px;
}
.wrapper{
    border: 1px solid #ececec;
    background: #fff;
}

.form-control{
    box-shadow: none;
    border-radius: 0;
}
.footer{
    padding: 15px;
    background: #f0f5fb;
    height: 350px;
    border-top: 1px #e2e3e7 solid;
    color: #646464;

}

.footer .copyright {
    text-align: center;
    margin-top: 10px;
    font-weight: 100;
}
.footer  li{
    list-style: none;
}
.footer  .col-1 li{
    line-height: 40px;
}
.footer  .col-1 li a {
    background: url("/images/all.png") no-repeat 0 0;
    height: 20px;
    line-height: 20px;
    padding-left: 30px;
    display: inline-block;
}

.footer .col-1 li .footer-cabinet {
    background-position: 0 -347px;
}

.footer .col-1 li .footer-cart {
    background-position: 0 -264px;
}

.footer .col-1 li .send-message {
    background-position: -10px -239px;
}

.footer .social{
    text-align: right;
    margin-right: 30px;
    margin-top: 5px;

}

.footer .cooperation{
    font-size: 18px;
    line-height: 18px;
    padding: 16px 0;
    text-align: center;
}
.footer .links{
    border-bottom: 1px solid #d1ddeb;
}
.footer a{
    text-decoration: underline;
}
.footer .social a {
    background: url("/images/all.png") no-repeat 100% 0;
    height: 30px;
    line-height: 30px;
    padding-right: 32px;
    display: inline-block;
    color: #64646e;
    margin-bottom: 15px;
}
.footer .social .vk:hover {
    background-position: 100% -120px;
}
.footer .social .facebook {
    background-position: 100% -60px;
}
.footer .social .facebook:hover {
    background-position: 100% -181px;
}

.footer .title {
    line-height: 40px;
    margin-bottom: 20px;
}

.footer .grey-text {
    color: #64646e;
}

.footer .footer_gray {
    background: #dbdee3;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #c1c5ce;
}

.footer .social .twitter {
    background-position: 100% -30px;
}
.footer .social .twitter:hover {
    background-position: 100% -150px;
}

.footer .social .livejournal {
    background-position: 100% -462px;
}
.footer .social .livejournal:hover {
    background-position: 100% -492px;
}

.footer .social .youtube {
    background-position: 100% -92px;
}

.footer .social .youtube:hover {
    background-position: 100% -212px;
}

.searchbar {
    height: 29px;
    padding-top: 1px;
    position: relative;
    background-color: #c4c8cc;
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.searchbar .inner {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
    background: -webkit-linear-gradient(top, #fff 0, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #fff 0, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #fff 0, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #fff 0, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    position: absolute;
    left: 1px;
    right: 1px;
    height: 29px;
}

.search{
    width: 350px;
    margin-left: 15px;
}

.searchbar .search input[type='text']{
    padding: 2px;
    margin-top: 3px;
    height: 22px;
    margin-left: 3px;
    border-radius: 3px 0 0 3px;
}

.searchbar .search .btn{
    z-index: 2;
    padding: 0px 10px;
    margin-top: 3px;
}
.breadcrumb-custom {
    padding: 10px 0 0 10px;
}
.breadcrumb-custom li{
    display: inline-block;
}

.breadcrumb-custom > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.value {
    color: #000;
}

.items-table tbody tr td {
    vertical-align: middle;
    padding: 8px 10px;
}

.price {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    color: #000;
    position: relative;
}
.price .info {
    font-size: 11px;
    line-height: 11px;
    position: absolute;
    left: 0;
    right: 0;
    top: 23px;
    color: #646464;
    margin-left: -20px;
    margin-right: -20px;
}

.price .noDiscounts {
    margin-top: 13px;
    line-height: 12px;
    font-size: 10px;
    color: #000;
}
.price .actual {
    color: #ff7800;
    font-size: 20px;
    height: 23px;
    font-weight: bold;
    overflow: hidden;
}
.price .old {
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    color: #64646e;
    font-size: 14px;
    text-decoration: line-through;
    height: 20px;
    margin-right: -16px;
    margin-left: -20px;
    text-align: center;
}
*:focus {
    outline: none;
}
.qty-btn{
    position: relative;
    width: 165px;
    height: 68px;
    border: 1px solid #fff;
    text-align: left;
}

.qty-btn input{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    margin: 23px 0 0 23px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: right;
    height: 20px;
    width: 54px;
    padding: 0 3px;
    border: 1px solid #bbc2ca;
    -moz-box-shadow: inset 0 2px 12px -6px #000;
    -webkit-box-shadow: inset 0 2px 12px -6px #000;
    box-shadow: inset 0 2px 12px -6px #000;
}

.qty-btn .min-qty{
    font-size: 10px;
    margin-left: 30px;
    width: 10px;
    line-height: 10px;
    color: #8F8A8A;
    font-weight: 600;
}

.alt-add{
    position: absolute;
    top: 24px;
    right: 15px;
}

.items-table tbody tr:hover .qty-btn, .qty-btn.hover, .qty-btn.active{
    background: #fff url(/images/cart-arrow.png) top left repeat;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #bbc2ca;

    margin: 0;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.items-table tbody tr:hover{
    background-color: #f5f5f5;
}

.sale-ico {
    background: url(/images/sale-ico.png) no-repeat 4px top;
    color: #fff;
    font-size: 11pt;
    font-weight: bold;
    height: 56px;
    left: -6px;
    padding-top: 6px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 54px;
    -moz-text-shadow: 1px 1px 2px #0851c6;
    -webkit-text-shadow: 1px 1px 2px #0851c6;
    text-shadow: 1px 1px 2px #0851c6;
    letter-spacing: .75px;
    margin-left: -2px;
}

.th140 {
    display: block;
    width: 140px;
    position: relative;
}
.table td.center, td.center, .center {
    text-align: center;
}
.items-table .td{
    border-top: 1px solid #ddd;
}
.pack{
    font-size: 10px;
    /*width: 240px;*/
}

.filterbar {
    background-color: #f8f8f8;
    padding: 0 10px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    /*overflow: hidden;*/
    height: 56px;
    line-height: 56px;
    font-size: 13px;
    color: #636363;
}
/*.filterbar .btn-success {*/
    /*font-size: 12px;*/
    /*padding: 4px;*/
/*}*/
.filterbar span.label a{
    color: #fff;
}
.filter-sort {
    float: left;
    margin-right: 7px;
}

.filter-limit {
    float: right;
}

.filter-limit a:first-child {
    margin-left: 0;
}

.filter-limit a.active{
    text-decoration: underline;
}

.filter-limit a, .filter-limit span {
    margin-left: 5px;
}

.filter-limit span {
    color: #000;
}

.filter-limit span {
    margin-left: 5px;
}

.count-result{
    position: absolute;
    z-index: 5;
    border-bottom: 3px solid #000;
    right: 215px;
    opacity: 0;
    width: 100px;
}

.list-group.filter{
    position: relative;
}
.list-group.filter .checkbox{
    display: inline-block;
    margin: 0px 5px 0 0;
}

.list-group.filter .info{
    cursor: pointer;
}

.list-group.filter input[type="text"]{
    width: 49px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    height: 25px;
    display: inline-block;
}
.list-group.filter label{
    font-weight: normal;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
    cursor: pointer;
    border: none;
    background: url(/images/trackbar_handle.png) no-repeat left top;
    width: 15px;
    height: 25px;
    top: -10px;
    margin-left: -8px;
    outline: none;
}
a.ui-slider-handle:focus {
    outline: none;
}

.ui-widget-header {
    border: 1px solid #aaaaaa/*{borderColorHeader}*/;
    background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/;
    color: #222222/*{fcHeader}*/;
    font-weight: bold;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    height: 5px;
    border: 1px solid #DBDBDB;
    border-top: 1px solid #9A9898;
    border-bottom: 1px solid #FBFBFB;
    background: #C8C6C6;
    border-radius: 2px;
    margin: 14px 0px 15px 0;
}

.pagination{
    margin-left: 10px;
}

.product-container-w .header ul{
    margin-left: 15px;
    padding: 0;
}
.product-container-w .header ul li{
    line-height: 40px;
}
.product-container-w .header ul li a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.product-container-w .header{
    background-color: #428bca;
    height: 41px;
}
.about{
    padding: 15px;
}

.news h1{
    margin-left: 15px;
    margin-top: 15px;
}
.news-container{
    padding: 15px;
}

.news-container .item{
    border-right: 1px solid #ececec;
    min-height: 370px;
}

.news-container .item:last-child{
    border-right: 0px;

}

.news-container .item h2{
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
}
.news-container .item h2 a{
    color: #004d99;
}

.news-container .description{

}
.product-container .item{
    text-align: center;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding-bottom: 80px;
    position: relative;
}

.product-container .item .header{
    height: 70px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(253,253,253,1) 30%, rgba(249,249,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(30%,rgba(253,253,253,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 30%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 30%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 30%,rgba(249,249,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 30%,rgba(249,249,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
}

.product-container .item .header span{
    font-size: 11px;
    color: #a8a8a8;
    float: left;
    margin: 7px 0 0 10px;
}

.product-container .item .header .star{
    float: right;
    margin: 5px ;
}

.product-container .item .header .store{
    font-size: 14px;
    color: #79b5ed;
    font-weight: bold;
    padding-top: 3px;

}
.product-container .item .price, .product-container .item .title{
    font-size: 15px;
    margin-top: 14px;
    display: block;
    color: #004d99;
}
.product-container .item .price{
    margin-top: 5px;
}
.product-container .item .control span.count{
    font-size: 11px;
    color: #a8a8a8;
}

.product-container .item .control{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
}

.product-container .item.no-border-right{
    border-right: 0;
}

.list-product{

}

.list-product h3{
    margin-left: 10px
}
.list-product .message{
    margin-left: 10px
}

/*форма заявки*/

.content-order .order{
    text-align: center;
}
.content-order .order input[type="number"]{
    width: 70px;
    display: inline-block;
}
.content-order{
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.content-order ul {
    display: inline-block;
    vertical-align: top;
}

.fb-order-container .content-order img{
    display: inline-block;
    border: 1px solid #ddd;
    padding: 3px;
    /*float: left;*/
}

.fb-order-container .content-order .mini-description{
    display: inline-block;
    width: 395px;
    text-align: center;
    vertical-align: top;

}

.fb-order-container .content-order .description{
    font-size: 11px;
    margin-top: 15px;
}
.fb-order-container .content-order span{
    min-width: 80px;
    display: inline-block;
    font-weight: bold;
}
.fb-order-container .content-order{
    background-color: #fff;
    padding: 10px;
}
.fb-order-container h3{
    font-size: 18px;
    text-align: center;

    border-bottom: 1px dotted #dddddd;
    padding-bottom: 6px;
    margin: 0 0 20px;
}
.fb-order-container .logo{
    /*margin-bottom: 10px;*/
}
.fb-order-container .list-group .list-group-item.city{
    font-weight: bold;
}

.fb-order-container .list-group .list-group-item.active{
    cursor: default;
}

a.list-group-item.city:hover, a.list-group-item.city:focus{
    background-color: #fff;
    color: inherit;
    cursor: default;
}
.fb-order-container{
    width: 800px;
}
.fb-order-container .header{
    height: 40px;
    background-color: #428bca;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.fb-order-container .header .logo{
    float: left;
    margin-right: 15px;
}
.fb-order-container .header .info{
    float: left;
    font-size: 18px;
    line-height: 100px;
}

.fb-order-container .sidebar{
    width: 225px;
    padding-right: 5px;
}

.fb-order-container .content-order{
    margin-left: 230px;
    position: relative;
}
.fb-order-container .content-order span.code{
    position: absolute;
    top: 11px;
    right: 10px;
    font-weight: normal;
    font-size: 11px;
}
/*конец формы заявки*/

.site-login, .site-signup{
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 25px;

}
.redirect-site{
    width: 250px;
    margin: 30px auto;
}
.redirect-site .btn{
    width: 100%;
}

.order-form img{
    border: 1px solid #dddddd;
    padding: 3px;
    margin: 0 5px 5px 0;
}

.order-form .edit-product{
    margin-bottom: 20px;
    display: block;
}

.table tbody tr:hover{
    background-color: #fbf6f6;
}

.order-update .label{
    font-size: 14px;
}
.order-view table tr th{
    width: 400px;
}

.hc .hc_footer_logo{
    opacity: 0;
}
.hc .hc_menu_options{
    opacity: 0;
}
.product-card .old-param .op{
    font-size: 13px;
    font-weight: 600;
    color: #a5a5a5;
    text-shadow: 1px 1px 1px #fff !important;
    text-align: center;
}

.product-card .old-param .op.active{
    color: #c80808;
}

.product-card .old-param .border{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.product-card .old-param .op span{
    display: inline-block;
    width: 15px;
    height: 23px;
    margin-right: 6px;
    position: relative;
}

.product-card .old-param .op.op_1 span{
    bottom: -12px;
    background: url(/images/card/op_1.png) no-repeat;
}

.product-card .old-param .op_1.active span{
    background: url(/images/card/op_1_hover.png) no-repeat;
}

.product-card .old-param .op.op_2 span{
    bottom: -6px;
    background: url(/images/card/op_2.png) no-repeat;
}

.product-card .old-param .op_2.active span{
    background: url(/images/card/op_2_hover.png) no-repeat;
}

.product-card .old-param .op.op_3 span{
    bottom: -8px;
    width: 25px;
    height: 25px;
    background: url(/images/card/op_3.png) no-repeat;
}

.product-card .old-param .op_3.active span{
    background: url(/images/card/op_3_hover.png) no-repeat;
}

.product-card .old-param .op.op_4 span{
    bottom: -6px;
    width: 17px;
    height: 19px;
    background: url(/images/card/op_4.png) no-repeat;
}

.product-card .old-param .op_4.active span{
    background: url(/images/card/op_4_hover.png) no-repeat;
}

.product-card .old-param .op.op_5 span{
    bottom: -6px;
    width: 17px;
    height: 19px;
    background: url(/images/card/op_5.png) no-repeat;
}

.product-card .old-param .op_5.active span{
    background: url(/images/card/op_5_hover.png) no-repeat;
}

.product-card .old-param hr{
    border-color: #ddd;
    margin-top: 0;

}
.product-card .old-param{
    border-radius: 4px;
    padding: 10px 15px;
}

.product-card .old-param .header{
    text-align: center;
    font-weight: bold;
}

.product-card .old-param .l{
    font-weight: bold;
    width: 100px;
    display: inline-block;
    color: #000;
    font-size: 13px;
}

.product-card .old-param .price{
    color: #c80808;
    font-size: 16px;
    font-weight: bold;

}
.product-card h1{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: #c80808;
    margin: 0 10px auto 0;
}
.product-card{
    padding: 15px;
}

.product-card .old-images{
    text-align: center;
}
.product-card .old-images img{
    display: inline-block;
    margin: 10px 5px 5px;
}

.product-card .old-param{
    background-color: #f1f1f1;
    border: 1px solid #c9c9c9;
}